#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.pagination {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}