.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}


.search-input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  font-size: 16px;
}

.list {
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 500px;
  overflow-y: auto;
}

.lits-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

input:focus-visible {
  outline: none;
}